.create-gif {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 35% 20% 30%;
  width: 100%;
  height: 60vh;
  min-height: 60vh;
}

.create-gif-animation {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  @extend %grid-center;
  grid-template-columns: 70% 30%;
}

.camara-create-gif {
  width: 100%;
  justify-self: center;
  grid-area: 1 / 1 / 2 / 2;
}

.element-create-gif {
  width: 100%;
  align-self: center;
  grid-area: 1 / 2 / 2 / 3;
}

.video-container {
  grid-template-columns: 3% 94% 3%;
  grid-template-rows: 3% 94% 3%;
  @extend %grid-center;
  grid-area: 1 / 2 / 4 / 3;
  border: 1px solid #572ee5;
  /*width: auto;
  height: auto;*/
}

.video {
  grid-area: 2 / 2 / 3 / 3;
  width: 98%;
  height: 98%;
  transform: rotate(-180deg);
  border: 1px solid #c1ddd7;
}
.video-border {
  width: 1.56rem;
  height: 1.69rem;
}
.left1 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-end;
  justify-self: flex-start;
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

.left2 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-start;
  justify-self: flex-start;
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.right1 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-start;
  justify-self: flex-end;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.right2 {
  grid-area: 2 / 2 / 3 / 3;
  align-self: flex-end;
  justify-self: flex-end;
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}
.create-video {
  height: 100%;
  width: 100%;
  transform: rotateX(180deg);
}

.buttons-create-video {
  grid-area: 4 / 1 / 5 / 4;
  border: 1px solid #50e3c2;
}
