$color-primary: #8b8b8b;
$font-color1: #572EE5;
$font-color2: #FFFFFF;
$font-color3:  #50E3C2;
$font-color4:  #9CAFC3 100%;
$primary-color1: #f8dc81;
$primary-color2: #eff7e1;
$primary-color3: #a2d0c1;
$primary-color4: #214151;
$bg-primary:  #FFFFFF;
$bg-secondary: rgba(255,255,255,0.50);
$bg-tertiary: #9dad7f;
$bg-quaternary : #557174;
$btn-primary: #8EB1C7;
$btn-secondary: #EB4511;
$btn-tertiary: #EB4511;
$border-primary: #572EE5;
$border-secondary: #031e2e;
$border-tertiary: #031e2e;
$shadow: #2b2713;