@font-face {
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
  font-family: 'Montserrat-SemiBold';
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.trending, .trending-gifos, .div-trend-gif, .main-search, .search-gif, .div-search, .gifs-search-section, .autocompleteContainer, .f-gifos, .create-gif-animation {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-trend-gif, .gifs-search-section-full {
  border: 1px solid #572ee5;
  border-radius: 10px;
}

ul.navbar_menu li a, ul.navbar_menu li div {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.main-tittle {
  font-family: "Montserrat-Bold";
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 33px;
}

.search {
  background: #ffffff;
  border: 1px solid #572ee5;
  border-radius: 27px;
}

#search-gif {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #9cafc3 100%;
  text-align: left;
}

.autocomplete {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #9cafc3;
  text-align: left;
}

.h2-trend {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

.p-trend {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  color: #572ee5;
  text-align: center;
  line-height: 25px;
}

.h2-trend-gif {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: #572ee5;
  text-align: center;
  line-height: 30px;
}

.p-trend-gif {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

.h1-footer {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
}

.p-footer {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
}

.initial-bg {
  background: #572ee5 90%;
  width: 100%;
  height: 0.31rem;
}

.header {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 100%auto auto;
      grid-template-rows: 100%auto auto;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0.0001%;
  height: 5.94rem;
  z-index: 1;
  background: #ffffff 100%;
  opacity: 0.9;
}

.nav {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-row-end: 3;
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem;
  width: 6rem;
  height: 3.5rem;
}

ul.navbar_menu li a {
  text-decoration: none;
}

ul.navbar_menu li div {
  text-decoration: none;
}

.navbar_menu {
  background: #572ee5 90%;
  display: none;
  -ms-grid-rows: 3rem 0.5rem 3rem 0.5rem 3rem 0.5rem 5rem 0.5rem;
      grid-template-rows: 3rem 0.5rem 3rem 0.5rem 3rem 0.5rem 5rem 0.5rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 30rem;
}

.nav-noct {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.nav-div1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.nav-fav {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.nav-gif {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7/1/8/2;
}

.nav-crea {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 11/1/12/2;
}

.nav-div1,
.nav-div2,
.nav-div3,
.nav-div4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  opacity: 0.5;
  width: 2.56rem;
  height: 0.01rem;
  background-color: #ffffff;
}

.main-tittle {
  width: 70%;
  margin-top: 1.6%;
  margin-bottom: 7.6%;
}

span.span-gifos::after {
  content: "GIFOS";
  color: #50e3c2;
}

.img-main {
  width: 72.8%;
}

.trending {
  width: 100%;
}

.h2-trend {
  margin-top: 7%;
}

.p-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 51%;
  margin-bottom: 7%;
}

p.p-trend span::first-letter {
  text-transform: uppercase;
  min-width: 100%;
}

.trending-gifos {
  background: #f3f5f8;
}

.h2-trend-gif {
  margin-top: 7%;
  margin-bottom: 2%;
}

/*
.div-trend-gif {
  width: 70%;
  height: 50rem;
  @extend %border-test;
  margin-bottom: 7%;
}*/
.div-gifo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
  width: 100%;
  height: 100%;
}

.img-gif {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 6 / 6;
  width: 100%;
  height: 100%;
}

.div-trend-gif {
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  grid-gap: 4%;
  -ms-grid-rows: 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20%;
  padding: 5%;
  width: 100%;
  margin-bottom: 7%;
}

div.div-icons-gifo img {
  width: 100%;
  height: 100%;
}

.div-icons-gifo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1 / 3 / 1 / 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.main-search {
  width: 100%;
}

.search {
  width: 90%;
}

.div-search {
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  height: 3.13rem;
}

#search-gif {
  width: 67%;
}

.gifs-search-section {
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
  -ms-grid-rows: 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20%;
  padding: 5%;
  width: 100%;
}

.gifs-search-section-full {
  margin-bottom: 7%;
  margin-top: 7%;
}

.autocomplete {
  height: 2.5rem;
  width: 90%;
}

.separator {
  height: 0.19rem;
  width: 90%;
  opacity: 0.5;
  background-color: #9cafc3;
}

/*
.search-more-btn {
  height: 1rem;
  width: 90%;
  opacity: 0.5;
  background-color: #9cafc3;
}*/
.full-size-gif {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  -ms-grid-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  -ms-grid-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
      grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  top: 5%;
}

.user-title {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
}

.gif-title {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 6 / 3 / 7 / 6;
}

.close-full-size-mode {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 1 / 7 / 2 / 8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.gif-max {
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 2 / 3 / 5 / 7;
}

.before-full-size-mode {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.next-full-size-mode {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 3 / 7 / 4 / 8;
  justify-self: flex-end;
}

.favorite-full-size-mode {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 5 / 5 / 6 / 6;
}

.download-full-size-mode {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 5 / 6 / 6 / 7;
}

.h1-footer {
  margin-top: 7%;
  margin-bottom: 2%;
}

section.icons-shared {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
}

section.icons-shared img {
  margin: 30%;
}

.p-footer {
  margin-bottom: 3%;
}

/*.checkbox {
    display: none;
}*/
.menu {
  position: absolute;
  top: 2rem;
  right: 5.9%;
  margin: 1rem;
}

#btn-nav {
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 5.9%;
  margin: 1rem;
  z-index: 1;
  height: 2rem;
  width: 2rem;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1.13rem;
  height: 0.75rem;
  z-index: 9;
}

#line1 {
  background: #060A24;
}

#line2 {
  background: #060A24;
}

#line3 {
  background: #060A24;
}

.line {
  width: 100%;
  height: 15%;
  background: #000000;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.checkbox:checked ~ * #line1 {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
}

.checkbox:checked ~ * #line2 {
  display: none;
}

.checkbox:checked ~ * #line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
}

#btn-nav:checked ~ .menu {
  top: 2rem;
}

#btn-nav:checked ~ * .navbar_menu {
  display: -ms-grid;
  display: grid;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
}

@-webkit-keyframes slidedown {
  from {
    margin-top: -40%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes slidedown {
  from {
    margin-top: -40%;
  }
  to {
    margin-top: 0%;
  }
}

.create-gif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: 60vh;
  min-height: 60vh;
}

.create-gif-animation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -ms-grid;
  display: grid;
  height: 65%;
  justify-self: flex-end;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.camara-create-gif {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.element-create-gif {
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.video-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -ms-grid;
  display: grid;
  /*width: auto;
  height: auto;*/
}

.video {
  -ms-grid-columns: 3% 94% 3%;
      grid-template-columns: 3% 94% 3%;
  -ms-grid-rows: 3% 94% 3%;
      grid-template-rows: 3% 94% 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 100%;
  max-height: auto;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  border: 1px solid #572ee5;
}

.video-border {
  width: 1.56rem;
  height: 1.69rem;
}

.left1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

.left2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.right1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

.right2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

.create-video {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  height: 100%;
  width: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.buttons-create-video {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  border: 1px solid #50e3c2;
}

/*
@import "./Partials/body";
@import "./Partials/header";
@import "./Partials/navbar";
@import "./Partials/main";
@import "./Partials/footer";
@import "./Partials/mediaqueries";
@import "./Partials/menu";*/
/*# sourceMappingURL=style.css.map */